@import '../../styles/scss-breakpoints';

.about {
  color: var(--color-primary);
  & .title {
    font-size: var(--font-size-h1-default);
  }
  & .text {
    font-size: 1.2rem;
  }

  @media screen and (#{$screen-tablet}) {
    & {
      & .title {
        font-size: var(--font-size-h1-tablet);
      }
      & .text {
        font-size: 1.5rem;
      }
    }
  }
}